.nombre{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
    color:rgb(9, 243, 76);
   font-weight: 300px;
}
.nombre2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(3, 119, 26);
    



}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 50, 50);
    padding: 2rem;
    
    
 
    
}
.lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    
    ;
    
    
}

.lista li{
    margin-left: 20px; 
    ;
    
    
}

a{
    text-decoration: none;
    color: beige;
    
    
    
}
body{
   background-color: rgb(169, 170, 169);
        
    
   width: 100%;
    height: 100vh;
    
    
    
   
   
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





 
 











