.counter{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 150px;
}
.controlador{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-around;
    
}